nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  height: 120px;
  width: 100%;
  background-color: #3378c7;
  color: #FFFFFF;
}

.tweeter-logo {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
}

#write-new-tweet {
  cursor: pointer;
  flex-direction: column;
}

#new-tweet-button {
  background-color: inherit;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
}

#new-tweet-button i {
  color: #f20707;
}