#scroller {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2vw;
}

#scroll-top-button{
  padding: 40px;
  border-radius: 70px;
  background-color: red;
  border: 2px solid black;
  cursor: pointer;
}

#scroll-top-button div {
  width: 28px;
  height: 28px;
}

#scroll-top-icon {
  color: #ffffff;
}