.tweet-container {
  display: flex;
  flex-direction: column;
  border: 4px solid rgb(89, 89, 89);
  margin: 50px 0;
}

.tweet-container header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
}

.tweet-container>header>div {
  display: flex;
  padding: 0;
  padding-top: 0.5em;
}

.tweet-container>header>div>p {
  padding-left: 0.7em;
}

.tweet-container>header>p {
  font-size: 28px;
  font-weight: 600;
  color: rgb(198, 189, 189)
}

.tweet-container>div {
  padding: 0 2em;
}

.tweet-container>footer {
  margin: 0 0.9em;
  padding-bottom: 0.5em;
  border-top: 3px solid black;
  display: flex;
  justify-content: space-between;
}

.tweet-options {
  padding-right: 0.3em;
  display: flex;
  align-items: center;
}

.tweet-container footer>p {
  font-size: 18px;
}

.tweet-options>i {
  margin: 0 0.3em;
}